DJANGO_SECRET_KEY=change-me-to-a-long-random-string
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=animatg.online,www.animatg.online,62.60.247.164,127.0.0.1,localhost
DJANGO_CSRF_TRUSTED_ORIGINS=https://animatg.online,https://www.animatg.online
DJANGO_SECURE_SSL_REDIRECT=True
